<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head') %>
  </head>
  <body>
    <%- include('../includes/navbar') %>
    <main class="text-center">
      <a class="btn btn-info" href="/admin/add-doctype">Nouveau</a>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Périodicité</th>
            <th scope="col">Unique</th>
            <th scope="col">Date d'émission</th>
            <th scope="col">Date d'expiration</th>
          </tr>
        </thead>
        <tbody>
          <% for (let doctype of doctypes) { %>
          <tr class="table-primary pointer">
            <td><%= doctype.title %></td>
            <td><%= doctype.periodicity === 'none' ? 'Aucune' : doctype.periodicity === 'month' ? 'Mois' : 'Année' %></td>
            <td><%= doctype.isUnique ? 'Oui' : 'Non' %></td>
            <td><%= doctype.hasIssuanceDate ? 'Oui' : 'Non' %></td>
            <td><%= doctype.hasExpirationDate ? 'Oui' : 'Non' %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </main>
    <%- include('../includes/scripts') %>
  </body>
</html>
