<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head') %>
  </head>
  <body>
    <%- include('../includes/navbar') %>
    <%- include('../includes/page-title') %>
    <main class="text-center">
    <div class="top-btn-container">
        <a class="btn btn-info" href="/admin/add-doctype">Nouveau</a>
    </div>
    <div class="table-container-if-top-btn">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Périodicité</th>
            <th scope="col">Unique</th>
            <th scope="col">Date d'émission</th>
            <th scope="col">Date d'expiration</th>
            <th scope="col">Documents liés</th>
            <th scope="col">Documents requis liés</th>
          </tr>
        </thead>
        <tbody>
          <% for (let doctype of doctypes) { %>
          <tr class="table-primary pointer doctype-item" id="<%= doctype._id %>">
            <td><%= doctype.title %></td>
            <td><%= doctype.periodicity === 'none' ? 'Aucune' : doctype.periodicity === 'month' ? 'Mois' : 'Année' %></td>
            <td><%= doctype.isUnique ? 'Oui' : 'Non' %></td>
            <td><%= doctype.hasIssuanceDate ? 'Oui' : 'Non' %></td>
            <td><%= doctype.hasExpirationDate ? 'Oui' : 'Non' %></td>
            <td><%= documents.filter(doc => doc.doctypeId.toString() === doctype._id.toString()).length %></td>
            <td><%= requestedDocs.filter(rd => rd.doctypeId.toString() === doctype._id.toString()).length %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    </main>
    <%- include('../includes/footer') %>
    <%- include('../includes/scripts') %>
    <script src="/js/doctypes.js"></script>
  </body>
</html>
