<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/forms.css" />
  </head>
  <body>
    <%- include('../includes/navbar') %>
    <%- include('../includes/page-title') %>
    <main>
      <%- include('../includes/error-feedback') %>
      <form
        class="text-center center-half"
        method="POST"
        action="/admin/doctypes/<%= doctype._id %>"
      >
        <fieldset>
            <div class="form-group">
                <label for="title">Nom</label>
                <input
                type="text"
                class="form-control text-center <%= validationErrors.some(err => err.param === 'title') ? 'invalid' : '' %>"
                id="title"
                name="title"
                aria-describedby="emailHelp"
                placeholder="Ex : ''Carte d'identité''"
                value="<%= oldInput.title %>"
                />
            </div>
            <div class="form-group">
                <ul class="list-inline">
                    <li>
                        <% if (doctype.isUnique) { %>
                            Un seul document de ce type par utilisateur
                        <% } else { %>
                            Plusieurs documents de ce type par utilisateur
                        <% } %>            
                    </li>
                    <li>
                        <% if (doctype.periodicity === 'year') { %>
                            Type de document annuel
                        <% } else if (doctype.periodicity === 'month') { %>
                            Type de document mensuel
                        <% } else { %>
                            Type de document non périodique
                        <% } %>            
                    </li>
                    <li>
                        <% if (doctype.hasIssuanceDate) { %>
                            Type de document avec une date d'émission
                        <% } else { %>
                            Type de document sans date d'émission
                        <% } %>            
                    </li>
                    <li>
                        <% if (doctype.hasExpirationDate) { %>
                            Type de document avec une date d'expiration
                        <% } else { %>
                            Type de document sans date d'expiration
                        <% } %>            
                    </li>
                </ul>
            </div>

          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button type="submit" class="btn btn-primary">Modifier</button>
        </fieldset>
      </form>
    </main>
    <%- include('../includes/scripts') %>
    <script src="/js/forms.js"></script>
  </body>
</html>
