<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../includes/head') %>
</head>
<body>
<%- include('../includes/navbar') %>
<%- include('../includes/page-title') %>
<main class="text-center">
    <div class="top-btn-container">
        <a href="/edit-document/<%= document._id %>?edit=true" class="btn btn-info">Modifier</a>
        <form id="deletingForm" doctypeName="<%= document.doctypeId.title %>" action="/delete-document/<%= document._id %>" method="POST">
            <button id="deletingButton" class="btn btn-danger" type="button">Supprimer</button>
        </form>
    </div>
    <div class="embed-doc-container under-top-btn">
        <% if (doesFileExist) { %>
            <iframe
            src="../../<%= document.fileUrl %>"
            class="embed-doc"
            ></iframe>
        <% } else { %>
            <div class="welcome-messages-container full-height ">
                Fichier introuvable.
            </div>
        <% } %>
    </div>
    <div class="document-detail-list-container under-top-btn">
        <ul class="list-group">
            <% if (document.title) { %>
                <li
                class="list-group-item d-flex justify-content-around align-items-center"
                >
                    <span class="h3"><%= document.title %></span>
                </li>
            <% } %> 
            <% if (document.month) { %>
                <li
                class="list-group-item d-flex justify-content-around align-items-center"
                >
                    <span class="h3"><%= monthToString(document.month) %></span>
                </li>
            <% } %> 
            <% if (document.year) { %>
                <li
                class="list-group-item d-flex justify-content-around align-items-center"
                >
                    <span class="h3"><%= document.year %></span>
                </li>
            <% } %> 
            <% if (document.issuanceDate) { %>
                <li
                class="list-group-item d-flex justify-content-around align-items-center"
                >
                Date
                    <span class="badge badge-dark badge-pill">
                        <%= displayDate(document.issuanceDate) %>
                    </span>
                </li>
            <% } %> 
            <% if (document.expirationDate) { %>
                <li
                class="list-group-item d-flex justify-content-around align-items-center"
                >
                Expiration
                    <span
                    class="badge badge-pill <%= isPast(document.expirationDate) ? 'badge-danger' : isPresent(document.expirationDate) ? 'badge-warning' : 'badge-success' %>"
                    >
                    <%= displayDate(document.expirationDate) %>
                    </span>
                </li>
            <% } %>
        </ul>
    </div>
</main>
<%- include('../includes/scripts') %>
<script src="/js/document.js"></script>

</body>
</html>
