<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head') %>
  </head>
  <body>
    <%- include('../includes/navbar') %>
    <main class="text-center">
      <div class="h3"><%= document.doctypeId.title %></div>
      <embed src="../../<%= document.fileUrl %>" width="1000vw" height="500vh" padding ="0"/>

      <div><%= document.fileUrl %></div>
    </main>
    <%- include('../includes/scripts') %>
  </body>
</html>
