<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/forms.css" />
  </head>
  <body>
    <%- include('../includes/navbar') %>
    <%- include('../includes/page-title') %>
    <main>
      <%- include('../includes/error-feedback') %>
      <form
        class="text-center center-half <%= errorMessages.length > 0 ? 'full-height-if-errors' : 'full-height'%>"
        method="POST"
        action="/edit-document<%= editMode ? '?edit=true' : '' %>"
        enctype="multipart/form-data"
      >
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <div class="top-btn-container">
          <button type="submit" class="btn btn-primary"><%= editMode ? 'Modifier !' : 'Ajouter !' %></button>
      </div>
    <div class="scroll-container-if-top-btn">
          <div class="form-group">
            <label for="file">Fichier</label>
            <input
              type="file"
              class="form-control text-center pointer <%= validationErrors.some(err => err.param === 'file') ? 'invalid' : '' %>"
              id="file"
              name="file"
              accept="application/pdf"
            />
            <small class="form-text text-muted">Format PDF.</small>
            <% if (editMode) { %>
               <span id="oldFile">FICHIER ACTUEL : <%= oldInput.fileName %></span>
            <% } %>
          </div>
          <div class="form-group">
            <label for="doctypeId">Type</label>
            <select
              class="form-control text-center pointer <%= validationErrors.some(err => err.param === 'doctypeId') ? 'invalid' : '' %>"
              id="doctypeId"
              name="doctypeId"
              lastChoice="<%= oldInput.doctypeId %>"
            >
              <option value="" disabled selected>
                Sélectionner un type de document ...
              </option>
              <% for (let doctype of doctypes) { %>
              <option
                value="<%= doctype._id %>"
                isUnique="<%= doctype.isUnique %>"
                periodicity="<%= doctype.periodicity %>"
                hasIssuanceDate="<%= doctype.hasIssuanceDate %>"
                hasExpirationDate="<%= doctype.hasExpirationDate %>"
              >
                <%= doctype.title %>
              </option>
              <% } %>
            </select>
            <small class="form-text text-muted" id="doctypeHelper"
              >Un utilisateur ne peut posséder qu'une seule fois ce type de
              document.</small
            >
          </div>
          <div class="form-group" id="titleGroup" visibility="hidden">
            <label for="title">Titre</label>
            <input
              type="text"
              class="form-control text-center <%= validationErrors.some(err => err.param === 'title') ? 'invalid' : '' %>"
              id="title"
              name="title"
              value="<%= oldInput.title %>"
            />
            <small class="form-text text-muted"
              >Entre 4 et 80 caractères.</small
            >
          </div>
          <div class="form-group" id="issuanceDateGroup">
            <label for="issuanceDate">Date d'émission</label>
            <input
              type="date"
              class="form-control text-center pointer <%= validationErrors.some(err => err.param === 'issuanceDate') ? 'invalid' : '' %>"
              id="issuanceDate"
              name="issuanceDate"
              value="<%= oldInput.issuanceDate %>"
            />
            <small class="form-text text-muted"
              >Dans le passé ou le présent.</small
            >
          </div>
          <div class="form-group" id="expirationDateGroup">
            <label for="expirationDate">Date d'expiration</label>
            <input
              type="date"
              class="form-control text-center pointer <%= validationErrors.some(err => err.param === 'expirationDate') ? 'invalid' : '' %>"
              id="expirationDate"
              name="expirationDate"
              value="<%= oldInput.expirationDate %>"
            />
            <small class="form-text text-muted"
              >Dans le futur ou le présent.</small
            >
          </div>
          <div class="form-group" id="monthGroup">
            <label for="month">Mois</label>
            <input
              type="month"
              class="form-control text-center pointer <%= validationErrors.some(err => err.param === 'month') ? 'invalid' : '' %>"
              id="month"
              name="month"
              value="<%= oldInput.month %>"
            />
            <small class="form-text text-muted">Passé ou actuel.</small>
          </div>
          <div class="form-group" id="yearGroup">
            <label for="year">Année</label>
            <input
              type="number"
              class="form-control text-center pointer <%= validationErrors.some(err => err.param === 'year') ? 'invalid' : '' %>"
              id="year"
              name="year"
              value="<%= oldInput.year %>"
            />
            <small class="form-text text-muted">Passée ou actuelle.</small>
          </div>
        </div>
          <% if (editMode) { %>
              <input type="hidden" name="documentId" value="<%= documentId %>" />
          <% } %>
      </form>
    </main>
    <%- include('../includes/scripts') %>
    <script src="/js/forms.js"></script>
    <script src="/js/edit-document.js"></script>
  </body>
</html>
