<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head') %>
  </head>
  <body>
    <%- include('../includes/navbar') %> <%- include('../includes/page-title')
    %>
    <main class="text-center">
      <form id="addSwapFolderForm" method="POST" action="/pro/add-swap-folder">
        <input type="hidden" name="userId" value="<%= user._id %>" />
      </form>
    </main>
    <%- include('../includes/scripts') %>
    <script src="/js/add-swap-folder.js"></script>
  </body>
</html>
