<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/forms.css" />
  </head>
  <body>
    <%- include('../includes/navbar') %>
    <%- include('../includes/page-title') %>
    <main class="text-center">
      <div class="user-messages">
        <div class="h3">
          Aucun profil enregistré pour <span class="email"><%= email %></span>
        </div>
        <ol>
          <li>Créez le profil de votre client.</li>
          <li>Transmettez-lui le mot de passe.</li>
          <li>Invitez-le à le changer dès sa première connexion.</li>
        </ol>
      </div>
      <%- include('../includes/error-feedback') %>
      <div class="<%= errorMessages.length > 0 ? 'scroll-container-if-errors-and-user-message' : 'scroll-container-if-errors' %>">
          <form class="text-center center-half" method="POST" action="/pro/add-client">
              <div class="form-group" id="firstNameFormGroup">
                  <label for="email">Prénom</label>
                  <input
                    type="text"
                    name="firstName"
                    id="firstName"
                    value="<%= oldInput.firstName %>"
                    class="form-control text-center <%= validationErrors.some(err => err.param === 'firstName') ? 'invalid' : '' %>"
                  />
                  <small class="form-text text-muted"
                    >Entre 2 et 16 caractères.</small
                  >
              </div>
              <div class="form-group" id="lastNameFormGroup">
                  <label for="email">Nom</label>
                  <input
                    type="text"
                    name="lastName"
                    id="lastName"
                    value="<%= oldInput.lastName %>"
                    class="form-control text-center <%= validationErrors.some(err => err.param === 'lastName') ? 'invalid' : '' %>"
                  />
                  <small class="form-text text-muted"
                    >Entre 2 et 32 caractères.</small
                  >
              </div>
              <div class="form-group">
                <label for="password">Mot de passe</label>
                <input
                  type="password"
                  name="password"
                  id="password"
                  value="<%= oldInput.password %>"
                  class="form-control text-center <%= validationErrors.some(err => err.param === 'password') ? 'invalid' : '' %>"
                />
                <small class="form-text text-muted"
                  >Au moins 8 caractères dont : une majuscule, une minuscule, un
                  chiffre et un symbole.</small
                >
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirmation du mot de passe</label>
                <input
                  type="password"
                  name="confirmPassword"
                  id="confirmPassword"
                  value="<%= oldInput.confirmPassword %>"
                  class="form-control text-center <%= validationErrors.some(err => err.param === 'confirmPassword') ? 'invalid' : '' %>"
                />
              </div>
              <input type="hidden" name="email" value="<%= email %>" />
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button type="submit" class="btn btn-primary">Inscription</button>
          </form>
      </div>
    </main>
    <%- include('../includes/scripts') %>
    <script src="/js/forms.js"></script>
  </body>
</html>
