<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head') %>
  </head>
  <body>
    <%- include('../includes/navbar') %>
    <main class="text-center">
      <a class="btn btn-info" href="/enter-client-email">Nouveau</a>
      <div class="h1">Les dossiers de prêt</div>
      <ul>
        <% for (let file of loanFiles) { %>
        <li class="list-inline"><a href="/add-loan-file/<%= file.userId._id %>"><%= file.userId.email %></a></li>
        <% } %>
      </ul>
    </main>
    <%- include('../includes/scripts') %>
  </body>
</html>
