<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../includes/head') %>
</head>
<body class="no-scroll">
<%- include('../includes/navbar') %>
<link rel="stylesheet" href="/css/swap-folder.css">
<main class="text-center">
    <div class="d-flex justify-content-around full-height">
        <div class=" half-flex">
          <form id="deletingForm" clientEmail="<%= swapFolder.userId.email %>" action="/pro/delete-swap-folder/<%= swapFolder._id %>" method="POST">
              <button id="deletingButton" class="btn btn-danger" type="button">Supprimer le dossier de prêt</button>
          </form>
              <div class="h3">Dossier de prêt numéro <%= swapFolder._id %></div>
              <p>Utilisateur : <%= swapFolder.userId.email %></p>
        </div>
        <div class="full-height half-flex">
            <div id="requestsContainer" class="scrollable">
                <div class="request">
                    <a class="btn btn-info edit-btn" href="/pro/edit-request/<%= swapFolder.proRequestId._id %>"><i class="fas fa-edit"></i></a>
                    <% for (let group of makeGroupsOfRequestedDocs(swapFolder.proRequestId.requestedDocIds)) { %>
                        <div class="list-group group">
                            <% if (group.length > 1) { %>
                                <div class="choice">Au choix : </div>
                            <% } %>
                            <% for (let doc of group) { %>
                                <div class="list-group-item">
                                    <span><%= doc.doctypeId.title %></span>
                                    <span><%= doc.title ? ' "' + doc.title + '"' : '' %></span>
                                    <span><%= doc.age ? ' - ' + displayRequestedDocAge(doc) : '' %></span>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>    
    </div>
</main>
<%- include('../includes/scripts') %>
<script src="/js/swap-folder.js"></script>
</body>
</html>
