<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../includes/head') %>
<link rel="stylesheet" href="/css/swap-folders.css" />
</head>
<body>
<%- include('../includes/navbar') %>
<main class="text-center">
<a class="btn btn-info" href="/pro/enter-client-email">Nouveau</a>
<div class="h1">Les dossiers de prêt</div>
<div class="list-group">
  <% for (let sf of swapFolders) { %>
      <div 
      id="<%= sf._id %>"
      class="list-group-item d-flex justify-content-between pointer swap-folder-item"
      >
        <div>N° <%= sf._id %></div>
          <a href="/swap-folders/<%= sf._id %>"><%= sf.userId.email %></a>
          <div>
              Groupes de documents fournis :
              <span class="<%= getNumberOfCompletedGroups(sf.proRequestId.requestedDocIds) === 0 ? 'text-danger' : getNumberOfCompletedGroups(sf.proRequestId.requestedDocIds) < getNumberOfRequestedGroups(sf.proRequestId.requestedDocIds) ? 'text-warning' : 'text-success' %>">
                  <%= getNumberOfCompletedGroups(sf.proRequestId.requestedDocIds) %> / <%= getNumberOfRequestedGroups(sf.proRequestId.requestedDocIds) %> 
              </span>
          </div>
      </div>
  <% } %>
</div>
</main>
<div id="isPro" class="hidden" isPro="true"></div>
<%- include('../includes/scripts') %>
<script src="/js/swap-folders.js"></script>

</body>
</html>
